@model List<Shop.Models.CartItem>
@{
    ViewData["Title"] = "Shopping Cart";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="@(item.ProductImage ?? "/images/home/anh.jpg")" alt="" style="width: 100px; height: 100px;"></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@item.ProductName</a></h4>
                                    <p>Web ID: @item.ProductId</p>
                                </td>
                                <td class="cart_price">
                                    <p>$@item.UnitPrice</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" href="#" data-cart-item-id="@item.CartItemId"> + </a>
                                        <input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
                                        <a class="cart_quantity_down" href="#" data-cart-item-id="@item.CartItemId"> - </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">$@item.TotalPrice</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="#" data-cart-item-id="@item.CartItemId"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">
                                <p>Your cart is empty</p>
                                <a href="@Url.Action("Shop", "Shop")" class="btn btn-default">Continue Shopping</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--/#cart_items-->

@if (Model != null && Model.Any())
{
    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>What would you like to do next?</h3>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="chose_area">
                        <ul class="user_option">
                            <li>
                                <input type="checkbox">
                                <label>Use Coupon Code</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Use Gift Voucher</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Estimate Shipping & Taxes</label>
                            </li>
                        </ul>
                        <ul class="user_info">
                            <li class="single_field">
                                <label>Country:</label>
                                <select>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field">
                                <label>Region / State:</label>
                                <select>
                                    <option>Select</option>
                                    <option>Dhaka</option>
                                    <option>London</option>
                                    <option>Dillih</option>
                                    <option>Lahore</option>
                                    <option>Alaska</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field zip-field">
                                <label>Zip Code:</label>
                                <input type="text">
                            </li>
                        </ul>
                        <a class="btn btn-default update" href="">Get Quotes</a>
                        <a class="btn btn-default check_out" href="">Continue</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Cart Sub Total <span>$@Model.Sum(x => x.TotalPrice)</span></li>
                            <li>Eco Tax <span>$2</span></li>
                            <li>Shipping Cost <span>Free</span></li>
                            <li>Total <span>$@(Model.Sum(x => x.TotalPrice) + 2)</span></li>
                        </ul>
                        <a class="btn btn-default update" href="">Update</a>
                        <a class="btn btn-default check_out" href="@Url.Action("Checkout", "Shop")">Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#do_action-->
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $('.cart_quantity_up').click(function(e) {
                e.preventDefault();
                var cartItemId = $(this).data('cart-item-id');
                var currentQty = parseInt($(this).siblings('.cart_quantity_input').val());
                updateCartItem(cartItemId, currentQty + 1);
            });

            $('.cart_quantity_down').click(function(e) {
                e.preventDefault();
                var cartItemId = $(this).data('cart-item-id');
                var currentQty = parseInt($(this).siblings('.cart_quantity_input').val());
                if (currentQty > 1) {
                    updateCartItem(cartItemId, currentQty - 1);
                }
            });

            $('.cart_quantity_delete').click(function(e) {
                e.preventDefault();
                var cartItemId = $(this).data('cart-item-id');
                removeFromCart(cartItemId);
            });

            function updateCartItem(cartItemId, quantity) {
                $.ajax({
                    url: '@Url.Action("UpdateCartItem", "Shop")',
                    type: 'POST',
                    data: { cartItemId: cartItemId, quantity: quantity },
                    success: function(response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            alert('Error updating cart');
                        }
                    },
                    error: function() {
                        alert('Error updating cart');
                    }
                });
            }

            function removeFromCart(cartItemId) {
                $.ajax({
                    url: '@Url.Action("RemoveFromCart", "Shop")',
                    type: 'POST',
                    data: { cartItemId: cartItemId },
                    success: function(response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            alert('Error removing item from cart');
                        }
                    },
                    error: function() {
                        alert('Error removing item from cart');
                    }
                });
            }
        });
    </script>
}
