@model List<Shop.Models.CartItem>
@{
    ViewData["Title"] = "Shopping Cart";
}

<section id="cart_items">
    <div class="container-fluid">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Giỏ hàng</li>
            </ol>
        </div>

        @if (Model != null && Model.Any())
        {
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive cart_info">
                        <table class="table table-condensed">
                            <thead>
                                <tr class="cart_menu">
                                    <td class="select text-center">Chọn</td>
                                    <td class="image">Sản phẩm</td>
                                    <td class="description"></td>
                                    <td class="price">Giá</td>
                                    <td class="quantity">Số lượng</td>
                                    <td class="total">Thành tiền</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="cart_select text-center align-middle">
                                            <input type="checkbox" name="selectedItems" value="@item.CartItemId" class="form-check-input">
                                        </td>
                                        <td class="cart_product">
                                            <img src="@item.ProductImage" alt="" style="width: 100px; height: 100px;">
                                        </td>
                                        <td class="cart_description">
                                            <h4><a href="">@item.ProductName</a></h4>
                                        </td>
                                        <td class="cart_price">
                                            <p>$@item.UnitPrice</p>
                                        </td>
                                        <td class="cart_quantity">
                                            <div class="cart_quantity_button" style="margin-left: 12px;">
                                                <a class="cart_quantity_up" href="#" data-cart-item-id="@item.CartItemId"> + </a>
                                                <input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
                                                <a class="cart_quantity_down" href="#" data-cart-item-id="@item.CartItemId"> - </a>
                                            </div>
                                        </td>
                                        <td class="cart_total">
                                            <p class="cart_total_price">$@item.TotalPrice</p>
                                        </td>
                                        <td class="cart_delete">
                                            <a class="cart_quantity_delete" href="#" data-cart-item-id="@item.CartItemId"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="do_action_wrapper">
                        <div class="heading mb-3">
                            <h3>Bạn muốn làm gì tiếp theo?</h3>
                            <p>Chọn nếu bạn có mã giảm giá hoặc muốn ước tính chi phí vận chuyển.</p>
                        </div>

                        <div class="chose_area mb-4">
                            <ul class="user_option">
                                <li><input type="checkbox"><label> Sử dụng mã giảm giá</label></li>
                                <li><input type="checkbox"><label> Ước tính phí vận chuyển & thuế</label></li>
                            </ul>
                            <ul class="user_info">
                                <li class="single_field">
                                    <label>Tỉnh / Thành phố:</label>
                                    <select>
                                        <option>Select</option>
                                        <option>Dhaka</option>
                                        <option>London</option>
                                        <option>Dillih</option>
                                        <option>Lahore</option>
                                        <option>Alaska</option>
                                        <option>Canada</option>
                                        <option>Dubai</option>
                                    </select>
                                </li>
                            </ul>
                            <a class="btn btn-default update" href="">Lấy báo giá</a>
                            <a class="btn btn-default check_out" href="">Tiếp tục</a>
                        </div>

                        <div class="total_area">
                            <ul>
                                <li>Tạm tính <span>$@Model.Sum(x => x.TotalPrice)</span></li>
                                <li>Thuế <span>$2</span></li>
                                <li>Phí vận chuyển <span>Miễn phí</span></li>
                                <li>Tổng cộng <span>$@(Model.Sum(x => x.TotalPrice) + 2)</span></li>
                            </ul>
                            <a class="btn btn-default check_out" href="@Url.Action("Checkout", "Shop")">Thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="text-center my-5">
                <p>Giỏ hàng của bạn đang trống</p>
                <a href="@Url.Action("Shop", "Shop")" class="btn btn-default">Tiếp tục mua sắm</a>
            </div>
        }
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('.cart_quantity_up').click(function(e) {
                e.preventDefault();
                var cartItemId = $(this).data('cart-item-id');
                var currentQty = parseInt($(this).siblings('.cart_quantity_input').val());
                updateCartItem(cartItemId, currentQty + 1);
            });

            $('.cart_quantity_down').click(function(e) {
                e.preventDefault();
                var cartItemId = $(this).data('cart-item-id');
                var currentQty = parseInt($(this).siblings('.cart_quantity_input').val());
                if (currentQty > 1) {
                    updateCartItem(cartItemId, currentQty - 1);
                }
            });

            $('.cart_quantity_delete').click(function(e) {
                e.preventDefault();
                var cartItemId = $(this).data('cart-item-id');
                removeFromCart(cartItemId);
            });

            function updateCartItem(cartItemId, quantity) {
                $.ajax({
                    url: '@Url.Action("UpdateCartItem", "Shop")',
                    type: 'POST',
                    data: { cartItemId: cartItemId, quantity: quantity },
                    success: function(response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            alert('Lỗi khi cập nhật giỏ hàng');
                        }
                    },
                    error: function() {
                        alert('Error updating cart');
                    }
                });
            }

            function removeFromCart(cartItemId) {
                $.ajax({
                    url: '@Url.Action("RemoveFromCart", "Shop")',
                    type: 'POST',
                    data: { cartItemId: cartItemId },
                    success: function(response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            alert('Lỗi khi xóa sản phẩm khỏi giỏ hàng');
                        }
                    },
                    error: function() {
                        alert('Error removing item from cart');
                    }
                });
            }
        });
    </script>
}
