@model dynamic
@{
    ViewData["Title"] = "Home";
    var featuredProducts = ViewBag.FeaturedProducts as List<Shop.Models.Product>;
    var categories = ViewBag.Categories as List<Shop.Models.Category>;
}

<section id="slider" class="banner-hero">
    <!--slider-->
    <div id="slider-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="images/home/slider_1.webp" alt="Sudes Camping banner" />
                <div class="banner-caption">
                    <h2>Chào mừng đến với</h2>
                    <h1>Sudes Camping</h1>
                    <a href="#" class="btn btn-default get">Xem chi tiết</a>
                </div>
            </div>
            <div class="item">
                <img src="images/home/slider_1.webp" alt="Sudes Camping banner" />
                <div class="banner-caption">
                    <h2>Khám phá thiên nhiên</h2>
                    <h1>Trải nghiệm dã ngoại</h1>
                    <a href="#" class="btn btn-default get">Mua sắm ngay</a>
                </div>
            </div>
            <div class="item">
                <img src="images/home/slider_1.webp" alt="Sudes Camping banner" />
                <div class="banner-caption">
                    <h2>Ưu đãi hấp dẫn</h2>
                    <h1>Đồ cắm trại mới</h1>
                    <a href="#" class="btn btn-default get">Xem sản phẩm</a>
                </div>
            </div>
        </div>

        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</section>
<!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        @if (categories != null)
                        {
                            @foreach (var category in categories)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a asp-controller="Shop" asp-action="Shop" asp-route-categoryId="@category.CategoryId">
                                                @category.Name
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    @if (featuredProducts != null)
                    {
                        @foreach (var product in featuredProducts)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="@(product.Image ?? "/images/home/anh.jpg")" alt="" />
                                            <h2>$@product.Price</h2>
                                            <p>@product.Name</p>
                                            <a href="#" class="btn btn-default add-to-cart" data-product-id="@product.ProductID">
                                                <i class="fa fa-shopping-cart"></i>Add to cart
                                            </a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>$@product.Price</h2>
                                                <p>@product.Name</p>
                                                <a href="#" class="btn btn-default add-to-cart" data-product-id="@product.ProductID">
                                                    <i class="fa fa-shopping-cart"></i>Add to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!--features_items-->

                <div class="category-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tshirt" data-toggle="tab">T-Shirt</a></li>
                            <li><a href="#blazers" data-toggle="tab">Blazers</a></li>
                            <li><a href="#sunglass" data-toggle="tab">Sunglass</a></li>
                            <li><a href="#kids" data-toggle="tab">Kids</a></li>
                            <li><a href="#poloshirt" data-toggle="tab">Polo shirt</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tshirt">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/category-tab-->

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @if (featuredProducts != null)
                                {
                                    @foreach (var product in featuredProducts.Take(3))
                                    {
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="@(product.Image ?? "/images/home/anh.jpg")" alt="" />
                                                        <h2>$@product.Price</h2>
                                                        <p>@product.Name</p>
                                                        <a href="#" class="btn btn-default add-to-cart" data-product-id="@product.ProductID">
                                                            <i class="fa fa-shopping-cart"></i>Add to cart
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('.add-to-cart').click(function(e) {
                e.preventDefault();
                var productId = $(this).data('product-id');
                
                $.ajax({
                    url: '@Url.Action("AddToCart", "Shop")',
                    type: 'POST',
                    data: { productId: productId, quantity: 1 },
                    success: function(response) {
                        if (response.success) {
                            // Update cart count in header
                            $('.cart-count').text(response.cartCount);
                            alert('Product added to cart!');
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function() {
                        alert('Error adding product to cart');
                    }
                });
            });
        });
    </script>
}
